<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target= "_blank" href="https://github.com/derekmccool">Derek</a>
  </p>

  <br />

  <p>
    The purpose of this website is to allow players to enter funny thoughts and reasons on why League of Legends (although we may love it) tilts us to the moon.
  </p>

  <p>
    If you want to learn how to code - start <a target= "_blank" href="https://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
  <div class ="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <h2 class="text-center">Derek McCool</h2>

      <br />

      <p>
          Derek is currently a student at The Firehose Project. In his spare time, Derek enjoys playing League of Legends with his friends
          and building model kits.  Currently Derek is Gold 3 in ranked, splitting time between top lane and adc.  Feel free to laugh at his stats
          <a target= "_blank" href="https://na.op.gg/summoner/userName=Milky%20Punishment"> here </a>
      </p>

    </div>

  </div>

  <br class="clear"/>

</div>

<br class="clear"/>
<br />
<br />
<br />
<br />